<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>moPick.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4679C0351C730CF4002D1389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4679C04C1C730CF4002D1389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4679C0571C730CF4002D1389</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
